body {
	background: var(--dark-blue);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h1, h2, h3, h4 {
	line-height: 10vh;
	font-family: NoirPro-Bold;
	color: var(--white);
	margin: 0;
}

p {
	font-family: NoirPro-Light;
	color: var(--white);
	font-size: calc(24vh - 21vh);
	width: calc(28vw - 8vw);
}

a {
	font-family: NoirPro-Regular;
	color: var(--dark-blue);
}

.form-paragraph {
	font-size: 1rem;
	width: 50%;
}

.container {
	width: 60vw;
	height: 70vh;

	display: flex;
	flex-direction: inherit;

	border-radius: 6vh;
	background: var(--light-blue);
	padding: 1vh;
}

.container-image {
	object-fit: cover;
	width: 30vw;
	height: 70vh;
	border-radius: 6vh 0 0 6vh;
}

.container-content {
	width: 50vw;
	height: 70vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	
	border-radius: 0 6vh 6vh 0;
}

.container-footer {
	margin: auto;
	text-align: left;
}

.form-component {
  position: relative;
	text-align: left;
	font-family: NoirPro-Light;
  width: 26vw;
  font-size: 1.4rem;
}

.poster {
	position: absolute;
	width: 21vw;
	height: 24vh;

	top: 40vh;
	left: 14vw;

	border-radius: 3vh;
	padding-left: 8vw;

	background: rgba(15, 33, 51, 0.15);
	backdrop-filter: blur(1vh);

	animation: poster-in .8s normal forwards ease-in-out;
}

@keyframes poster-in {
	0% {
		left: 0vw;
	}
	100% {
		left: 14vw;
	}
}

@media (max-width: 1280px) {
	.container-content {
		width: 60vw;
		border-radius: 6vh;
	}
	.container-image, .poster {
		display: none;
	}
	.form-component {
		width: 40vw;
	}
}

@media (max-width: 860px) {
	.container-content {
		width: 100vw;
		height: 100vh;
	}
	.container {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}
	.form-component {
		width: 60vw;
	}
}

@media (max-width: 560px) {
	.form-component {
		width: 90vw;
	}
}

@media (max-height: 880px) {
	.container-content {
		width: 100vw;
		height: 100vh;
	}
	.container {
		width: 100vw;
		height: 100vh;
		padding: 0;
		border-radius: 0;
	}
	.container-image {
		width: 50vw;
		height: 100vh;
		border-radius: 0;
	}
}