.form-button {
  margin: 1rem 0 1rem 0;
  width: 95%;
  border: 1px var(--dark-blue) solid;
  border-radius: 1.5vh;

  font-family: NoirPro-Light;
  font-size: inherit;

  color: var(--dark-blue);
  padding: .7rem 2rem .7rem 2rem;
  background: none;
  transition: background .2s ease-in,
    color .2s ease-out;
}

.filled-button {
  color: var(--white);
  background: var(--dark-blue);
}

.filled-button:hover {
  color: var(--dark-blue);
  background: none;
}

.empty-button:hover {
  color: var(--white);
  background: var(--dark-blue);
}