.button {
  width: 94%;
  
  margin: 1rem 0 0 0;
  border: 1.5px var(--primary) solid;
  border-radius: 1.5vh;

  font-family: NoirPro-Light;
  font-size: inherit;
  display: flex;
  justify-content: center;
  color: var(--primary);
  padding: .7rem 2rem .7rem 2rem;
  background: none;
  transition: background .2s ease-in,
    color .2s ease-out;
}

.filled {
  color: var(--light);
  background: var(--primary);
}

.filled:hover {
  color: var(--primary);
  background: none;
}

.empty:hover {
  color: var(--light);
  background: var(--primary);
}

.loader {
  border: 2px solid var(--light);
  border-top: 2px solid var(--primary);
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  animation: spin .8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}